<marquee scrollamount="10" behavior="alternate" direction="right" [style.background-color]="backgroundColor">Products</marquee>
<div 
  cdkDropList 
  class="example-list"
  (cdkDropListDropped)="onDrop($event)">
  <div class="example-box" *ngFor="let product of products" cdkDrag>
    <!-- {{product}} -->
    <!--With *ngFor, the <div> repeats for each product in the list.-->
     <h3 id="phone_title">
       <a [title]="product.name +'details' ">{{product.name}}</a> 
     <!-- we are creating link for every product item -->
    </h3>
    <p>
      price: {{product.price}}
    </p>
    <p id="dis" *ngIf="product.description"> 
      <!-- ngfor will only show description for those products which are avaible -->
       {{product.description}}   
    </p> 
    <button id="share" (click)="share()" [style.background-color]="backgroundColor"  >
      Share
      <!-- creating button for each product -->
    </button>
    <!-- <app-product-alerts  -->
    <!-- [product]="product" -->
    <!-- (notify)="onNotify()"> -->
    <!-- </app-product-alerts> -->
     <!-- we are using product alert as a child component of product list that's why we are using as app-product-alerts--> 
    </div>
</div>

