<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzle Game</title>
    <link rel="stylesheet" href="css/test6.css">
</head>
<body>
    <div class="conatiner">
        <h1>Puzzle Game</h1>
        <div class="box">
            <button class="number" id="10" name="1">10</button>
            <button class="number" id="11" name="2">11</button>
            <button class="number" id="7" name="3">7</button>
            <button class="number" id="8" name="4">8</button>
            <button class="number" id="9" name="5">9</button>
            <button class="number" id="12" name="6">12</button>
            <button class="number" id="4" name="7">4</button>
            <button class="number" id="5" name="8">5</button>
            <button class="number" id="6" name="9">6</button>
            <button class="number" id="13" name="10">13</button>
            <button class="number" id="1" name="11">1</button>
            <button class="number" id="2" name="12">2</button>
            <button class="number" id="3" name="13">3</button>
            <button class="number" id="14" name="14">14</button>
            <button class="number" id="15" name="15">15</button>
            <button class="number" id="empty" name="16"></button>
        </div>
     </div>
    <script src="js/test6.js"></script>
</body>
</html>